*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #050508; 
    padding: 20px 0;
    border-bottom: 2px solid #d4af37; 

    width: 100%; 
}
.header-zawartosc{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #d4af37;
    font-family: 'Lora', serif;
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #e0e0e0   ;         
}
header h1{
    font-family: 'Cinzel',serif;
}
body{background-color: rgb(37, 11, 61);
color: #d4af37;
font-family: 'Lora', serif;
background-image: url(gwiazdki.png) ;
background-repeat: repeat;
background-attachment: fixed;
background-size: auto;
background-blend-mode:overlay;

}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));

    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.karta{
    background-color: black;
    border: 2px solid #d4af37;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
   transition: 0.4s;
}
.karta img {
    width: 100%;
    aspect-ratio: 2 / 3; 
    object-fit: cover;    
    border-bottom: 2px solid #d4af37;
}
.karta h3{
    color: #d4af37;
    text-transform: uppercase;
    text-align: center;
}
.karta:hover{
    transform: scale(1.05);
    transition: 0,3s;
    box-shadow:0 0 25px #d4af37;
}
main {
    max-width: 1100px;       
    margin: 40px auto;       
    padding: 30px;           
    border: 3px double #d4af37; 
    background-color: black; 
    border-radius: 20px;     
}
section{
    text-align: center;
}
footer {
    background-color: #1a1a1a; 
    color: #d4af37; 
    padding: 60px 20px 20px;
    margin-top: 50px;
    font-family: 'Lora', serif;
    border-top: 1px solid #d4af37; 
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.footer-section h3, .footer-section h4 {
    font-family: 'Cinzel', serif;
    color: #d4af37; 
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-section p {
    line-height: 1.6;
    font-size: 0.9rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color:#d4af37;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #e0e0e0  ;
}


@media (max-width: 720px) {
    .grid {
        grid-template-columns: 1fr; /* Tylko jedna karta na całą szerokość */
        padding: 10px;
        gap: 15px;
    }
}